<container>
  <row>
  <div><img src = "/assets/img/burger.jpg" class="burger"></div>
  </row>
</container>

<container>
  <row>
<h2>Burgers to be devoured.</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that were devoured.</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="burger_name">
    {{!-- need something here --}}
  </div>

  <button type="submit">Add Burger</button>
</form>
</row>
</container>