<div class = "container">
  <div class = "row">
    <div class="col-sm center">
      <img src = "/assets/img/burger.png" class="burger">
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class="col-sm">
      <h4>Burgers &nbsp;&nbsp; to &nbsp;&nbsp; Devour</h4>
      <ol class = "notTitle">
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devour=false}}
          {{/unless}}
        {{/each}}
      </ol>
    </div>

    <div class="col-sm">
      <h4>Burgers &nbsp;&nbsp; Devoured</h4>
      <ol class = "notTitle">
        {{#each burgers}}
          {{#if devoured}}
            <li>
            {{this.burger_name}}
            </li>
          {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class="col-sm">
      <div class = "center mx-auto">
        <h4>Add &nbsp;&nbsp; a &nbsp;&nbsp;  burger</h4>
        <form class="create-form">
          <div class="form-group">
            <label for="bu" class = "notTitle">Burger Name:</label>
            <input type="text" id="bu" name="burger_name">
          </div>
          <button type="submit" class = "notTitle btn btn-default w3-hover-red">Add Burger</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class = "footer">
  Coded with HTML/CSS/Bootstrap/JS/JQuery/ExpressJS/Node/Handlebars/MySQL by <strong>Randy Gentry</strong>
</div>