body {
    background-color: #ef9366;
    margin: auto;
}

.center {
    text-align: center;
}

h4 {
    margin-top: 20px;
    font-family: 'Monoton', cursive;
    text-align: center;
}

.burger {
    margin-bottom: 30px;
}

.notTitle {
    font-family: 'Sacramento', cursive;
    font-size: 24px;
}

li {
    margin-bottom: 5px;
}

.footer {
    margin-top: 50px;
    text-align: center;
    opacity: 0.5;
}